<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <div>
    <a href="https://github.com/chang42">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x fa-inverse"></i>
        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
      </span>
    </a> 
    <a href="mailto:wangxingchang42@outlook.com">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x fa-inverse"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
    </a> 
    <a href="https://twitter.com/xingchang42">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle-thin fa-stack-2x fa-inverse"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a> 
  </div>
  <h2></h2>
  <div>
    <a class="link" href="/" data-scroll><font color="white">Home</font></a>
    <a class="link" href="/about" data-scroll><font color="white">About</font></a>
  </div>
</section>